@import url(https://fonts.googleapis.com/css?family=PT+Serif);

html,
body {
    width: 100%;
    height: 100%;
    font-family: Georgia;
    /*background-color: black;*/
    background-image: url(./img/pexels-photo-167755.jpeg);
    background-size: 100% 100%;
    background-position: center;
}

a {
    color: white;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: yellowgreen;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px 70px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 300;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,.7);
}

input{
  height: 60px;
  width: 150px;
  border-radius: 0;
  line-height: input-line-height;
  background-color: transparent;
  color: white;
  font-size: 25px;
  border: none;
  outline: none;
  border-bottom: 3px solid #333333;
  font-family: monospace;
}
.input-highlight {
  user-select: none;
  border-top: 3px solid white;
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 100%;
  height: 0;
  color: transparent;
  overflow: hidden;
}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

	header .header-content .header-content-inner h1 {
    	font-size: 100px;
		}

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 20px;
    }
}


.btn-default {
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #eee;
    color: #222;
    background-color: #eee;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}



.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn-primary {
    border-color: yellowgreen;
    color: #fff;
    background-color: yellowgreen;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: limegreen;
    color: #fff;
    background-color: limegreen;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}



.btn-primary .badge {
    color: yellowgreen;
    background-color: #fff;
}


.btn {
    border-radius: 300px;
    /*text-transform: uppercase;*/
}

.btn-lg {
    padding: 15px 30px;
}


.bg-primary {
    background-color: yellowgreen;
}

.content{
    margin-top:-130px;
}
.temperature{
  position:relative;
}
.current h3, h2{
  color: #fff;
  font-family: PT;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 300;
  position: absolute;
  left: 80px; 
}

.feel h3{
  color: #fff;
  font-family: PT;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 300;
  position: absolute;
  left: 330px; 
}
.wind h3{
  color: #fff;
  font-family: PT;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 300;
  position: absolute;
  left: 570px; 
}
.humidity h3{
  color: #fff;
  font-family: PT;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 300;
  position: absolute;
  left: 830px; 
}
.rise h3{
  color: #fff;
  font-family: PT;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 300;
  position: absolute;
  left: 1080px; 
}

.set h3{
  color: #fff;
  font-family: PT;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 300;
  position: absolute;
  left: 1330px; 
}



#temp{
  color: #fff;
  font-family: PT;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 300;
  position: absolute;
  left: 150px; 
}

#feels{
   color: #fff;
  font-family: PT;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 300;
  position: absolute;
  left: 370px; 
}
#wind{
   color: #fff;
  font-family: PT;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 300;
  position: absolute;
  left: 610px; 
}
#humidity{
   color: #fff;
  font-family: PT;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 300;
  position: absolute;
  left: 850px; 
}

#sunrise{
   color: #fff;
  font-family: PT;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 300;
  position: absolute;
  left: 1100px; 
}
#sunset{
   color: #fff;
  font-family: PT;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 300;
  position: absolute;
  left: 1350px; 
}

.bt{
  text-align: center;
  position: center;
}
.button{
 position: absolute;
 left: 695px;
 border-radius: 300px;
}

.button-default {
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.button-default:hover,
.button-default:focus,
.button-default.focus,
.button-default:active,
.button-default.active,
.open > .dropdown-toggle.button-default {
    border-color: #eee;
    color: #222;
    background-color: #eee;
}

.button-default:active,
.button-default.active,
.open > .dropdown-toggle.button-default {
    background-image: none;
}



.button-default .badge {
    color: #fff;
    background-color: #222;
}

.button-primary {
    border-color: yellowgreen;
    color: #fff;
    background-color: yellowgreen;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.button-primary:hover,
.button-primary:focus,
.button-primary.focus,
.button-primary:active,
.button-primary.active,
.open > .dropdown-toggle.button-primary {
    border-color: limegreen;
    color: #fff;
    background-color: limegreen;
}

.button-primary:active,
.button-primary.active,
.open > .dropdown-toggle.button-primary {
    background-image: none;
}



.button-primary .badge {
    color: yellowgreen;
    background-color: #fff;
}


.button {
    border-radius: 300px;
    /*text-transform: uppercase;*/
}

.button-lg {
    padding: 15px 30px;
}


.button-primary {
    background-color: yellowgreen;
}
.clothing{
    float: left;
 
}

#displayClothing{
     width: 600px;
     height: 400px;
 }
#otherthing{
    width: 43.3%;
    height: 400px;
}
#more{
     width: 600px;
    height: 400px;

}

#activity{
    width: 43.3%;
    height: 400px;
}
/*.music{*/
   
/*    width:100px;*/
/*    height: 100px;*/
/*    font-color:white;*/
/*    position: relative;*/
/*    clear: both;*/

.sidebar{
    font-family: Georgia;
    font-color:white;
    float: right;
}

.sidebar h3{
    color:white;
    font-family: georgia;
    size: 100px;
}